<footer id="footer">
    <div class="uk-width-1-1">
        <nav class="uk-navbar uk-navbar-attached">
            <div class="uk-container uk-container-center">
                <div class="uk-navbar-content">
                   
                </div>
     
                <div class="uk-navbar-flip">
                    <div class="uk-button-group">
                        <a href="#" class="uk-button" data-uk-smooth-scroll data-uk-tooltip title="To Top"><i class="uk-icon-arrow-up"></i></a>
                        {% if config.plugins.admin.enabled and admin.user.username %}
                            <a href="{{ config.plugins.admin.route }}/pages/{{ page.slug }}" class="uk-button" data-uk-tooltip title="Edit this Page"><i class="uk-icon-dashboard"></i></a>
                        {% else %}
                            <a href="{{ config.plugins.admin.route }}" class="uk-button" data-uk-tooltip title="Login to Dashboard"><i class="uk-icon-dashboard"></i></a>
                        {% endif %}                      
                    </div>
                </div>

                <div class="uk-navbar-content uk-navbar-center">
                    
                </div>


             </div>
        </nav> 

    </div>


</footer>